body{
    background-color: #f9cb83;
}
a{
    text-decoration: none;
    color: white;
}
header{
    width: 100% vh;
}

footer{
    position: static;
    bottom: 0;
    width: 100%;
    height: 2vh;
}
.logo-header{
    width: auto;
    height: auto;
    max-width: 400px;
    max-height: 400px;
}

/*A loucura começa aqui */

  
  .container svg {
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  
  /*Animation Elements*/
  .crane-line-one {}
  .crane-line-two {}
  .crane-knot {}
  
  .star-piece {}
  .star-cut {opacity: 0;}
  .star-shadow {opacity: .35}
  
  .roller {}
  .roller-fold {}
  .roller-fold-shadow {opacity:0.08}
/* A loucura termina aqui */
.loucura{
    margin-left: 50vh;
}
.texto{
    margin-left: 70px;
}